{% extends "base.html"%}

    {% block content %}


    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3>Payment Failed</h3>
            <p>Sorry! Your payment has been failed. Please try again.</p>
            <br>
            <p >
            In case your money has been deducted, money will be autorefunded in 7-10 days.
            </p>
            <br>
            <p >Thank You for choosing us. You can contact us for any queries or details.</p>
            </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    

    {% endblock %}













